<div class="stats">
    <div class="btn-default">Сила:<span>10</span><span>(5+5)</span></div>
    <!--<div class="btn-default">Сила:<span>{{skills}}</span><span>({{prevSkills}}+5)</span></div>-->
    <div class="btn-default">Ловкость: <span>10</span><span>(5+5)</span></div>
    <div class="btn-default">Интуиция: <span>10</span><span>(5+5)</span></div>
    <div class="btn-default">Выносливость: <span>10</span><span>(5+5)</span></div>
    <div class="btn-default">Интелект: <span>10</span><span>(5+5)</span></div>
</div>