<div class="knight">
    <div class="yourName">HERO : {{name}}</div>
    <div class="goods-left">
        <div class="btn-warning">
            <img src="{{heroService.hero.helmet ? heroService.hero.helmet.view : '../img/helmet_empty.png'}}" width="80px" height="80px"  alt="helmet">
        </div>
        <div class="btn-warning"><img src="../img/shield.png" width="80px" height="80px"  alt="Щит"></div>
        <div class="btn-warning"><img src="../img/armor.png" width="80px" height="80px"  alt="Наплечники"></div>
        <div class="btn-warning"><img src="../img/boots.png" width="80px" height="80px"  alt="Наручи"></div>
    </div>
    <div class="goods-right">
        <div class="btn-warning"><img src="../img/bracers.png" width="80px" height="80px"  alt="Bracers"></div>
        <div class="btn-warning"><img src="../img/belt.png" width="80px" height="80px"  alt="belt"></div>
        <div class="btn-warning"><img src="../img/sword.png" width="80px" height="160px"  alt="sword"></div>
    </div>
</div>