.todo .archive {
	margin: 0; }

.arch {
	color: white;
	background-color: #33cc66;
	border-color: #33cc66;
	height: 20px;
	line-height: 14px;
	margin: 2px;
	padding: 3px;
	-webkit-transition: 0.5s;
	transition: 0.5s; }