:host {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
  /*height: 800px;*/
  width: 100%;
  background:red;
  background-size: cover;
}

.bg{
  width: 100%;
  height: 700px;
  background: url('./images/bgImage5.jpg') no-repeat;
  background-size: cover;
}

h1.lesson-title {
    padding: 0 0 6px 65px;
}
nav h4 {
    margin: 4px 0 10px 0;
}
nav a {
    text-decoration: none;
    transition: all 0.5s;
    color: #E03237;
}
nav a.active {
    border-radius: 3px;
    padding: 2px 8px;
    background-color: #E03237;
    color:white;
}
