
	<div > Hero name: {{char}}</div>


<!--<div class="books">-->
  <!--<div class="title">-->
    <!--<h2>Selected Book:  "{{book?.name}}"</h2>-->
  <!--</div>-->
  <!--<div class="books-item">-->
    <!--<div class="book" *ngFor="let character of characters">-->
      <!--<img src="{{character.view ? character.view.view : '../../../assets/heroimg/empty.jpg'}}" width="80px" height="80px">-->
      <!--&lt;!&ndash;<img src="{{book?.view.view}}" width="80px" height="80px">&ndash;&gt;-->
      <!--<div class="characterUrl">{{character.name}}</div>-->
      <!--&lt;!&ndash;<div>{{book?.name}}</div>&ndash;&gt;-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
  <!--<button (click)="goToBooksList()">Go Back</button>-->
  <!--(click)="onSelect(book)-->
