
	<!--<div > Value: {{book?.name}}</div>-->

<!--<div class="container">-->
  <!--<div class="character" *ngFor="let character of characters">-->
    <!--<div class="wer">-->
      <!--<img src="../../../assets/heroimg/3.jpg" width="80px" height="80px">-->
      <!--<div class="characterUrl">{{character}}</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
  <!--&lt;!&ndash;<div > Value: {{book?.povCharacters}}</div>&ndash;&gt;-->
  <!--<button (click)="goToBooksList()">Go Back</button>-->
<!--</div>-->

<div class="books">
  <div class="title">
    <h2>Selected Book:  "{{book?.name}}"</h2>
  </div>
  <div class="books-item">
    <div class="book" *ngFor="let character of characters" (click)="onSelect(book)">
      <img src="../../../assets/heroimg/3.jpg" width="80px" height="80px">
      <!--<img src="{{book?.view.view}}" width="80px" height="80px">-->
      <div class="characterUrl">{{character.name}}</div>
      <!--<div>{{book?.name}}</div>-->
    </div>
  </div>

</div>
<button (click)="goToBooksList()">Go Back</button>
