
.container{

	width: 800px;
	height:380px;
	margin: 0 auto;
    margin-top: 50px;
    padding-top: 25px;
	background: grey;
    border-radius: 5px 5px 5px 5px;
    border-color: #059;
    -webkit-box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 0 rgba(255, 255, 255, 0.6), 0 0 50px rgba(70, 100, 200, 0.7);
    -moz-box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 0 rgba(255, 255, 255, 0.6), 0 0 50px rgba(70, 100, 200, 0.7);
    -ms-box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 0 rgba(255, 255, 255, 0.6), 0 0 50px rgba(70, 100, 200, 0.7);
    -o-box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 0 rgba(255, 255, 255, 0.6), 0 0 50px rgba(70, 100, 200, 0.7);
    box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 0 rgba(255, 255, 255, 0.6), 0 0 50px rgba(0, 128, 255, 0.6);
}

.knight {
    position: relative;
    float: left;
	width:49%;
	height: 340px;
    display: inline-block;
    border-radius: 5px 5px 5px 5px;
	background: url(../img/Knight.png) no-repeat 50% 50%;
    background-color: saddlebrown;

}

.goods-left {
	display: inline-block;
}

.goods-left div{
    border-radius: 5px 5px 5px 5px;
	width: 80px;
	height: 80px;
    margin-top: 4px;
    margin-left: 2px;
}

.goods-left div {
    border-color: #059;
    -webkit-box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(70, 100, 200, 0.7);
    -moz-box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(70, 100, 200, 0.7);
    -ms-box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(70, 100, 200, 0.7);
    -o-box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(70, 100, 200, 0.7);
    box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(70, 100, 200, 0.7);
 }

.goods-right {
	display: inline-block;
	float: right;
}

.goods-right div{
    border-radius: 5px 5px 5px 5px;
	width: 80px;
	height: 80px;
    margin-top: 4px;
    margin-right: 2px;
}

.goods-right div{
    border-color: #059;
    -webkit-box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(70, 100, 200, 0.7);
    -moz-box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(70, 100, 200, 0.7);
    -ms-box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(70, 100, 200, 0.7);
    -o-box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(70, 100, 200, 0.7);
    box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(70, 100, 200, 0.7);
 }


.goods-right div:last-child{
    width: 80px;
    height: 164px;
}
/*////////////*/

.stats {
    position: relative;
    display: inline-block;
    width: 50%;
    height: 151px;
    float: right;
    border: 1px solid grey;
    border-radius: 5px 5px 5px 5px;
}

.stats div{

    font-size: 16px;
    font-weight: bold;
    border-radius: 5px 5px 0px 0px;
    padding: 3px;
    border-color: #059;
    -webkit-box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(70, 100, 200, 0.7);
    -moz-box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(70, 100, 200, 0.7);
    -ms-box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(70, 100, 200, 0.7);
    -o-box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(70, 100, 200, 0.7);
    box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(70, 100, 200, 0.7);
}

/*////////////*/
.backpack {
    position: relative;
    float: right;
    width: 50%;
    height: 188px;
    background:#C41E3A;
    border-radius: 5px 5px 5px 5px;
}
.backpack h2{
    display: block;
    width: 100%;
    margin: 10px 0 10px 0;
    color: white;
    font-size: 20px;
    text-align: center;
}

.goods-bag{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: inline-flex;
    justify-content:flex-start;
    align-items:center;
    flex-wrap: wrap;

}

.goods-bag div{
    padding: 1px;
    margin-top: 4px;
    margin-left: 4px;
    border-color: white;
    -webkit-box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(70, 100, 200, 0.7);
    -moz-box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(70, 100, 200, 0.7);
    -ms-box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(70, 100, 200, 0.7);
    -o-box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(70, 100, 200, 0.7);
    box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(70, 100, 200, 0.7);
}
.goods-bag div:hover{
    -webkit-box-shadow: 0 1px 4px -1px white inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(120, 200, 70, 0.7);
    -moz-box-shadow: 0 1px 4px -1px white inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(120, 200, 70, 0.7);
    -ms-box-shadow: 0 1px 4px -1px white inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(120, 200, 70, 0.7);
    -o-box-shadow:  0 1px 4px -1px white inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(120, 200, 70, 0.7);
    box-shadow: 0 1px 4px -1px white inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(10, 10, 70, 0.7);
}