#field {
	width: 600px;
	height: auto;
	margin: 15px auto;
	margin-top: 100px;
	background: #616d84;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	color: white; }
#field h1 {
	color: white;
	padding-top: 20px; }


.todo {
	text-align: center;
	width: 100%; }

.input-group {
	width: 500px;
	margin: 0 auto;
}
